.App {
  display: grid;
  grid-template-areas:
    "pane board"
    "editor board";
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
  height: 98vh;
}

.editor {
  grid-area: editor;
  background-color: #00C2A8;
  border-radius: 8px;
}

.pane {
  grid-area: pane;
  border-radius: 8px;
  background-color: #00C2A8;
}

.board {
  grid-area: board;
  background-color: #00C2A8;
  border-radius: 8px;
}